* {
  box-sizing     : border-box;
  font-smoothing : antialiased;
}

html {
  background : #494a45;
}

body {
  width      : 300px;
  height     : 600px;
  background : #2e2e2e;
  font       : 300 13px/1.6, 'Open Sans',
               'Helvetica Neue',
               Helvetica,
               Arial;
}

body,
html {
  overflow : hidden;
}
